*  {
    font-family: 'Anybody', cursive;
}

:root {
    /* --main-color: rgb(73, 21, 196); */
    --purple: #4a3c8a;
    --dark-blue: rgb(27, 27, 122);
    --light: rgb(187, 223, 255);
    --bckgrnd-col: rgba(102, 184, 216, 0.705);
}

.nav-title {
    background-color: rgb(127, 229, 255);
    color: var(--dark-blue);
    padding: 0px 10px 0px 60px;
    font-size: 25px;
    align-items: center; 
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0px !important;
}

.navbar img {
    /* padding-right: 15px; */
    /* width: 65px; */
    height: 100%;
    position: absolute;
    left: 0;
    /* display: flex; */
    /* justify-content: start; */
}

.nav-item a {
    color: rgb(127, 229, 255) !important;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.jumbotron {
    background-image: url("../images/02-hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
}

.jumbo-title-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.display-4 {
    background-color: rgb(127, 229, 255);
    width: fit-content;
    padding: 0.25rem;
    color: var(--dark-blue);
    font-size: 2rem;
}

.container-fluid {
    margin-bottom: 2rem;
}
.section-heading {
    color: var(--dark-blue);
}

.side-heading {
    border-right: 0.4rem solid var(--dark-blue);
}

.cardContainer {
    margin-bottom: 1rem;
}

.card-img-overlay {
    border: 5px solid var(--purple);
}

.card-label {
    background-color: var(--purple);
    width: fit-content;
    color: var(--light);
    padding: 0.5rem;
    position: absolute;
    left: 0;
    bottom: 1rem;
}

.contact-item {
    margin: 1rem 2rem;
    color: var(--dark-blue);
}